{% extends "base.html" %}

{% block content %}

<div class="row">
    <div class="col-xs-12 col-md-6" id="edu">
        <h1 class="heading">Education</h1>
        <h1 class="subheading">Formal</h1>
        <h2 class="title">Woodbine Highschool</h2>
        <h3 class="subtitle">Highschool diploma</h3>
        <br><br>
        <h1 class="subheading">Informal</h1>
        <h2 class="title">Harvard University Open Courses</h2>
        <h3 class="subtitle">CS50 - Introduction to Computer Science</h3>
    </div>
</div>

{% endblock %}