{% extends "base.html" %}

{% block content %}

<div class="row">
    <div class="col-xs-12 col-md-6" id="work_exp">
        <h1 class="heading">Work Experience</h1>
        <h2 class="title">Monogram Foods</h2>
        <h3 class="subtitle">Production Worker</h3>
        <h4 class="date">From: 07-2022 - To: Current</h4>
        <p>
            I work on production lines to prepare, cook, and package bacon.
        </p>

        </br>

        <h2 class="title">Variety Distributors</h2>
        <h3 class="subtitle">Packer</h3>
        <h4 class="date">From: 08-2021 - To: 07-2022</h4>
        <p>
            At Variety I packed and palleted customer orders for shipment.
        </p>

        </br>

        <h2 class="title">Home</h2>
        <h3 class="subtitle">Dad</h3>
        <h4 class="date">From: 06-2018 - To: 08-2021</h4>
        <p>
            I raised children, changed diapers, cooked meals, and tended injuries as well as attending to the general maintenance and repair of the household. The hours were long but the boss was nice!
        </p>

        </br>

        <h2 class="title">Foodland</h2>
        <h3 class="subtitle">Night Supervisor</h3>
        <h4 class="date">From: 07-2017 - To: 08-2018</h4>
        <p>
            At Foodland I was responsible for stocking, cleaning, and attending customers. I was also responsible for ensuring that the other employees on my shift completed their work in a timely manner and maintaining financial records for the shift.
        </p>
    </div>
</div>

{% endblock %}