{% extends "base.html" %}

{% block content %}

<div class="row">
    <div class="col-xs-12 col-md-6" id="skill">
        <h1 class="heading">Skillset</h1>

        <h2 class="title">Python</h2>
        <p>
            Python was my first language and it is still one of my favorites. I have been using python for 15 years and so I am very comfortable with the core language including data types, exceptions, errorhandling, list comprehension, etc.
        </p>

        <h2 class="title">C#</h2>
        <p>
            I am comfortable in C# and I have used it regularly in the past 3 years when scripting in the unity game engine. This has given me some familiarity with the .Net framework.
        </p>

        <h2 class="title">SQL</h2>
        <p>
            While SQL has not played a major role in my personal projects, I understand the need for it in enterprise application development and so I have taken the time to learn. I am capable of creating databases, tables and records. I know how to retrieve, insert, delete, and update records in a database and I am familiar with common tools for working with sql databases such as sqlite3 and mysql connector for python. 
        </p>

        <h2 class="title">Linux</h2>
        <p>
            I use linux as my day to day operating system. As such I can navigate the os with relative ease. I can create, modify, and manage files and data, manage users and permissions, troubleshoot issues (with some help from stack overflow), and develop in this environment.
        </p>

        <h2 class="title">Communication</h2>
        <p>
            Communication is, I believe, one of the essential components of an effective team and it's a skill that I find endlessly useful. I, personally, prefer a clear and succinct style of communication, but I also recognise that this doesn't work for everyone and I endeavor to adapt to the team that I am with.
        </p>
    </div>
</div>

{% endblock %}